@charset "utf-8";
/* CSS Document */
/*
** 代码制作人 : luhf
** 制作时间 : 2013-03-31 18:19:00
** 文件内容描述 : 网页主要框架样式
** 涉及区域(1) : 页面头像样式
** 涉及区域(2) : 页面主要内容框架样式
** 涉及区域(3) : 页脚样式
** 特殊说明 : 目前为区域效果,添加了区域背景色
*********************************************/
/* 西部 */
.cs-west { width: 200px; }
/* 西部-导航-菜单 */
.cs-navi-menu { margin: 5px; }
/* 东部 */
.cs-east { width: 300px; }
/* tab-右键菜单 */
.cs-tab-menu { width: 120px; }
/* 中部-首页备注 */
.cs-home-remark { padding: 10px; }
/* 北部 */
.cs-north {
	height: 35px;
}
/* 北部-logo */
.cs-north-logo {
	float: left;
	height: 32px;
	display: inline-block;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none
}
/* ui主题 -ul*/
.ui-skin-nav {
	float: right;
	padding: 0;
	margin: 10px 10px 0 0;
	list-style: none outside none;
	height: 10px;
}
/* ui主题 -ul,li*/
.ui-skin-nav .li-skinitem {
	float: left;
	font-size: 12px;
	line-height: 10px;
	margin-left: 10px;
	text-align: center;
}
/* ui主题 -ul,li,span*/
.ui-skin-nav .li-skinitem span {
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: inline-block;
}
/* ui主题点击 */
.ui-skin-nav .li-skinitem span.cs-skin-on { border: 1px solid #FFFFFF; }
/* ui主题样式 */
.ui-skin-nav .li-skinitem span.gray { background-color: #575765; }
.ui-skin-nav .li-skinitem span.blue { background-color: #95B8E7; }
.ui-skin-nav .li-skinitem span.bootstrap { background-color: #D4D4D4; }
.ui-skin-nav .li-skinitem span.black { background-color: #3D3D3D; }
.ui-skin-nav .li-skinitem span.metro { background-color: #DDDDDD; }